In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
Housing = pd.read_csv("kc_house_data1_cleaned.csv")
Housing.shape

(21545, 8)

In [8]:
Housing.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_above,grade,price
0,7129300520,20141013T000000,3,1.00,1180,1180,7,221900.0
1,6414100192,20141209T000000,3,2.25,2570,2170,7,538000.0
2,5631500400,20150225T000000,2,1.00,770,770,6,180000.0
3,2487200875,20141209T000000,4,3.00,1960,1050,7,604000.0
4,1954400510,20150218T000000,3,2.00,1680,1680,8,510000.0

In [9]:
Housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21545 entries, 0 to 21544
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21545 non-null  int64
 1   date         21545 non-null  object
 2   bedrooms     21545 non-null  int64
 3   bathrooms    21545 non-null  float64
 4   sqft_living  21545 non-null  int64
 5   sqft_above   21545 non-null  int64
 6   grade        21545 non-null  int64
 7   price        21545 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.3+ MB

In [10]:
# Remove 'T' and convert to integer
Housing['date'] = Housing['date'].str.replace('T', '').astype(np.int64)

In [11]:
#preparing the data
X = Housing.drop('price', axis=1)
y = Housing['price']

In [12]:
print(X)
print(y)

               id            date  bedrooms  bathrooms  sqft_living  \
0      7129300520  20141013000000         3       1.00         1180
1      6414100192  20141209000000         3       2.25         2570
2      5631500400  20150225000000         2       1.00          770
3      2487200875  20141209000000         4       3.00         1960
4      1954400510  20150218000000         3       2.00         1680
...           ...             ...       ...        ...          ...
21540   263000018  20140521000000         3       2.50         1530
21541  6600060120  20150223000000         4       2.50         2310
21542  1523300141  20140623000000         2       0.75         1020
21543   291310100  20150116000000         3       2.50         1600
21544  1523300157  20141015000000         2       0.75         1020

       sqft_above  grade
0            1180      7
1            2170      7
2             770      6
3            1050      7
4            1680      8
...           ...    ...
21540        1530      8
21541        2310      8
21542        1020      7
21543        1600      8
21544        1020      7

[21545 rows x 7 columns]
0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21540    360000.0
21541    400000.0
21542    402101.0
21543    400000.0
21544    325000.0
Name: price, Length: 21545, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [15]:
#printing parameters:
print(regressor.intercept_)
print(regressor.coef_)

-45204977.843902044
[-2.37598902e-06  2.21904607e-06 -4.12050553e+04 -3.09868673e+04
  2.63718937e+02 -7.91570471e+01  1.11277799e+05]

In [16]:
#making predictions:
y_pred = regressor.predict(X_test)

In [17]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

          Actual     Predicted
1471    400000.0  3.530898e+05
20742   419900.0  6.476277e+05
6721    333000.0  4.420357e+05
21451   420000.0  5.052222e+05
7638   1270000.0  1.036172e+06
...          ...           ...
19536   257000.0  3.469947e+05
20480   312500.0  4.478919e+05
9283    790000.0  8.018787e+05
19426   440000.0  6.614351e+05
16977   425000.0  4.843719e+05

[4309 rows x 2 columns]

In [18]:
# The coefficients
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print("For testing dataset")
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('R^2 Score: %.2f'
      % r2_score(y_test, y_pred))

For testing dataset
Mean squared error: 50609907022.49
R^2 Score: 0.56

In [19]:
print("For training dataset")

y_pred1 = regressor.predict(X_train)

print('Mean squared error: %.2f'
      % mean_squared_error(y_train, y_pred1))
# The coefficient of determination: 1 is perfect prediction
print('R^2 Score: %.2f'
      % r2_score(y_train, y_pred1))

For training dataset
Mean squared error: 55069546605.10
R^2 Score: 0.54

In [ ]:
#plots