In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Dataset:
It is having investment and profit of 50 Starts up at USA.

In [2]:
Score = pd.read_csv("startup.csv")
Score.shape
Score.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [15]:
#preparing the data
X = Score.drop('Profit', axis=1)
y = Score['Profit']

In [16]:
X[['SN']] = 'SN'
print(X)
#X.to_csv('submission.csv')

    R&D Spend  Administration  Marketing Spend  SN
0   165349.20       136897.80        471784.10  SN
1   162597.70       151377.59        443898.53  SN
2   153441.51       101145.55        407934.54  SN
3   144372.41       118671.85        383199.62  SN
4   142107.34        91391.77        366168.42  SN
5   131876.90        99814.71        362861.36  SN
6   134615.46       147198.87        127716.82  SN
7   130298.13       145530.06        323876.68  SN
8   120542.52       148718.95        311613.29  SN
9   123334.88       108679.17        304981.62  SN
10  101913.08       110594.11        229160.95  SN
11  100671.96        91790.61        249744.55  SN
12   93863.75       127320.38        249839.44  SN
13   91992.39       135495.07        252664.93  SN
14  119943.24       156547.42        256512.92  SN
15  114523.61       122616.84        261776.23  SN
16   78013.11       121597.55        264346.06  SN
17   94657.16       145077.58        282574.31  SN
18   91749.16       114175.79        294919.57  SN
19   86419.70       153514.11             0.00  SN
20   76253.86       113867.30        298664.47  SN
21   78389.47       153773.43        299737.29  SN
22   73994.56       122782.75        303319.26  SN
23   67532.53       105751.03        304768.73  SN
24   77044.01        99281.34        140574.81  SN
25   64664.71       139553.16        137962.62  SN
26   75328.87       144135.98        134050.07  SN
27   72107.60       127864.55        353183.81  SN
28   66051.52       182645.56        118148.20  SN
29   65605.48       153032.06        107138.38  SN
30   61994.48       115641.28         91131.24  SN
31   61136.38       152701.92         88218.23  SN
32   63408.86       129219.61         46085.25  SN
33   55493.95       103057.49        214634.81  SN
34   46426.07       157693.92        210797.67  SN
35   46014.02        85047.44        205517.64  SN
36   28663.76       127056.21        201126.82  SN
37   44069.95        51283.14        197029.42  SN
38   20229.59        65947.93        185265.10  SN
39   38558.51        82982.09        174999.30  SN
40   28754.33       118546.05        172795.67  SN
41   27892.92        84710.77        164470.71  SN
42   23640.93        96189.63        148001.11  SN
43   15505.73       127382.30         35534.17  SN
44   22177.74       154806.14         28334.72  SN
45    1000.23       124153.04          1903.93  SN
46    1315.46       115816.21        297114.46  SN
47       0.00       135426.92             0.00  SN
48     542.05        51743.15             0.00  SN
49       0.00       116983.80         45173.06  SN

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
#printing parameters:
print(regressor.intercept_)
print(regressor.coef_)

In [ ]:
#making predictions:
y_pred = regressor.predict(X_test)

In [ ]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

In [ ]:
# The coefficients
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('R^2 Score: %.2f'
      % r2_score(y_test, y_pred))

In [ ]:
# Plot outputs
plt.scatter(X_test['Administration'], y_test,  color='black')
plt.scatter(X_test['Administration'], y_pred, color='blue')

plt.xticks(())
plt.yticks(())

plt.show()

In [ ]:
# Plot outputs
plt.scatter(X_test['R&D Spend'], y_test,  color='black')
plt.scatter(X_test['R&D Spend'], y_pred, color='blue')

plt.xticks(())
plt.yticks(())

plt.show()