Kunal Kishore || 22810041

In [1]:
## import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
## read file

df = pd.read_csv('US_Regional_Sales_Data.csv')

In [3]:
df.head()

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,31/12/17,31/5/18,14/6/18,19/6/18,USD,6,15,259,12,5,0.075,"1,001.18","1,963.10"
1,SO - 000102,Online,WARE-NMK1003,31/12/17,31/5/18,22/6/18,2/7/18,USD,14,20,196,27,3,0.075,"3,348.66","3,939.60"
2,SO - 000103,Distributor,WARE-UHY1004,31/12/17,31/5/18,21/6/18,1/7/18,USD,21,16,213,16,1,0.050,781.22,"1,775.50"
3,SO - 000104,Wholesale,WARE-NMK1003,31/12/17,31/5/18,2/6/18,7/6/18,USD,28,48,107,23,8,0.075,"1,464.69","2,324.90"
4,SO - 000105,Distributor,WARE-NMK1003,10/4/18,31/5/18,16/6/18,26/6/18,USD,22,49,111,26,8,0.100,"1,476.14","1,822.40"

In [4]:
df.shape

(7991, 16)

In [5]:
df.dtypes

OrderNumber          object
Sales Channel        object
WarehouseCode        object
ProcuredDate         object
OrderDate            object
ShipDate             object
DeliveryDate         object
CurrencyCode         object
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Cost            object
Unit Price           object
dtype: object

In [6]:
df.isnull().sum()

OrderNumber         0
Sales Channel       0
WarehouseCode       0
ProcuredDate        0
OrderDate           0
ShipDate            0
DeliveryDate        0
CurrencyCode        0
_SalesTeamID        0
_CustomerID         0
_StoreID            0
_ProductID          0
Order Quantity      0
Discount Applied    0
Unit Cost           0
Unit Price          0
dtype: int64

In [7]:
df.describe()

,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied
count,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000,7991.000000
mean,14.384307,25.457014,183.850081,23.771743,4.525341,0.114394
std,7.986086,14.414883,105.903946,13.526545,2.312631,0.085570
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.050000
25%,8.000000,13.000000,91.000000,12.000000,3.000000,0.050000
50%,14.000000,25.000000,183.000000,24.000000,5.000000,0.075000
75%,21.000000,38.000000,276.000000,36.000000,7.000000,0.150000
max,28.000000,50.000000,367.000000,47.000000,8.000000,0.400000

#dropping colums

In [8]:
#dropping irrelevant columns
#OrderNumber
df = df.drop(columns = 'OrderNumber')

#CurrencyCode
df = df.drop(columns = 'CurrencyCode')

#converting dates into numerical

In [9]:
#converting dates into numerical
df['ProcuredDate'] = df['ProcuredDate'].str.replace('[/-]', '', regex=True).astype(np.int64)

In [10]:
df['OrderDate'] = df['OrderDate'].str.replace('[/-]', '', regex=True).astype(np.int64)

In [11]:
df['ShipDate'] = df['ShipDate'].str.replace('[/-]', '', regex=True).astype(np.int64)

In [12]:
df['DeliveryDate'] = df['DeliveryDate'].str.replace('[/-]', '', regex=True).astype(np.int64)

In [13]:
df['Unit Cost'] = df['Unit Cost'].str.replace(',', '')
df['Unit Price'] = df['Unit Price'].str.replace(',', '')

In [14]:
#remove , to convert to numerical
df['Unit Cost'] = pd.to_numeric( df['Unit Cost'] )
df['Unit Price'] =pd.to_numeric(df['Unit Price'] )

In [15]:
df.dtypes

Sales Channel        object
WarehouseCode        object
ProcuredDate          int64
OrderDate             int64
ShipDate              int64
DeliveryDate          int64
_SalesTeamID          int64
_CustomerID           int64
_StoreID              int64
_ProductID            int64
Order Quantity        int64
Discount Applied    float64
Unit Cost           float64
Unit Price          float64
dtype: object

In [16]:
# Identify the data types of the features

numerical_features = df.select_dtypes(include=['int', 'float']).columns
categorical_features = df.select_dtypes(include=['object']).columns

In [17]:
# Group numerical features
numerical_data = df[numerical_features]
numerical_summary = numerical_data.describe()
print("Numerical Features Summary:")
print(numerical_summary)

Numerical Features Summary:
        ProcuredDate      OrderDate       ShipDate   DeliveryDate  \
count    7991.000000    7991.000000    7991.000000    7991.000000
mean    46200.263546   58852.886748   57129.123514   57233.706295
std     85249.441307   82346.017960   80434.397914   80403.804924
min      4219.000000    1119.000000    1119.000000    1119.000000
25%     10418.000000   11420.000000   11420.000000   11619.500000
50%     15519.000000   21720.000000   21220.000000   21420.000000
75%     23819.000000   51069.000000   41218.000000   41219.000000
max    311217.000000  311219.000000  311220.000000  311220.000000

       _SalesTeamID  _CustomerID     _StoreID   _ProductID  Order Quantity  \
count   7991.000000  7991.000000  7991.000000  7991.000000     7991.000000
mean      14.384307    25.457014   183.850081    23.771743        4.525341
std        7.986086    14.414883   105.903946    13.526545        2.312631
min        1.000000     1.000000     1.000000     1.000000        1.000000
25%        8.000000    13.000000    91.000000    12.000000        3.000000
50%       14.000000    25.000000   183.000000    24.000000        5.000000
75%       21.000000    38.000000   276.000000    36.000000        7.000000
max       28.000000    50.000000   367.000000    47.000000        8.000000

       Discount Applied    Unit Cost   Unit Price
count       7991.000000  7991.000000  7991.000000
mean           0.114394  1431.911513  2284.536504
std            0.085570  1112.413063  1673.096364
min            0.050000    68.680000   167.500000
25%            0.050000   606.120000  1031.800000
50%            0.075000  1080.580000  1849.200000
75%            0.150000  2040.250000  3611.300000
max            0.400000  5498.560000  6566.000000

In [18]:
# Group categorical features
categorical_data = df[categorical_features]
categorical_counts = categorical_data.nunique()
print("\nCategorical Features Counts:")
print(categorical_counts)

Categorical Features Counts:
Sales Channel    4
WarehouseCode    6
dtype: int64

In [19]:
print('Unique values of each features:\n')
for feature in categorical_data.columns:
    print(feature)
    print(categorical_data[feature].unique())

Unique values of each features:

Sales Channel
['In-Store' 'Online' 'Distributor' 'Wholesale']
WarehouseCode
['WARE-UHY1004' 'WARE-NMK1003' 'WARE-PUJ1005' 'WARE-XYS1001'
 'WARE-MKL1006' 'WARE-NBV1002']

In [20]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [21]:
features_with_multiple_categories  = ['Sales Channel' , 'WarehouseCode']

In [22]:
# Create an instance of LabelEncoder
encoder = LabelEncoder()

# Perform label encoding on each categorical feature
for feature in features_with_multiple_categories:
    df[feature] = encoder.fit_transform(categorical_data[feature])

# Print the updated DataFrame
df.head()

,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,1,4,311217,31518,14618,19618,6,15,259,12,5,0.075,1001.18,1963.1
1,2,2,311217,31518,22618,2718,14,20,196,27,3,0.075,3348.66,3939.6
2,0,4,311217,31518,21618,1718,21,16,213,16,1,0.050,781.22,1775.5
3,3,2,311217,31518,2618,7618,28,48,107,23,8,0.075,1464.69,2324.9
4,0,2,10418,31518,16618,26618,22,49,111,26,8,0.100,1476.14,1822.4

In [23]:
## Split training & testing data
X = df.drop(columns = 'Unit Price')
Y = df['Unit Price']
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 23)

# Running linear Regression on train data
model = LinearRegression()
model.fit(X_train,Y_train)
y_pred = model.predict(X_test)


# Evaluate the model's performance using mean squared error (MSE)
mse = mean_squared_error(Y_test,y_pred)
r2 = r2_score(Y_test,y_pred)
print("Mean Squared Error:", mse)
print("R^2 Score:", r2)

Mean Squared Error: 318093.0879536446
R^2 Score: 0.8875061646987743